body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    border-style: inset;
    width: 80%;
    margin: 50px;
    padding: 20px;
}

h1 {
    color: #000000;
}

p {
    color: #000000;
    line-height: 3;
}

/* Style du bouton */
/* Style du bouton */
h1 button {
    background-color: #4c2a55; /* Couleur de fond */
    border: none; /* Supprime les bordures */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Supprime les décorations de texte par défaut */
    display: block; /* Changer le bouton en élément de bloc pour le centrer */
    margin: 0 auto; /* Centre le bouton horizontalement */
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Curseur de la souris */
    border-radius: 5px; /* Bord arrondi */
    width: fit-content; /* Ajuste la largeur du bouton en fonction du contenu */
}

/* Changement de couleur au survol */
h1 button:hover {
    background-color: #291723; /* Nouvelle couleur de fond au survol */
}



h1, p {
    text-align: left;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.premier {
    flex: 1;
    text-align: left;
}

.deux {
    flex: 1;
    text-align: left;
}

.deux img, .premier img {
    float: right;
    max-width: 200px; /* Ajustez la taille de la photo selon vos besoins */
    margin-left: 20px; /* Ajoute un espace entre le texte et l'image */
}

.premier img {
    max-width: 100px; /* Définissez la largeur maximale de l'image */
    height: auto; /* Assurez-vous que la hauteur s'ajuste automatiquement pour maintenir les proportions */
}
