/* Basic list styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;

}

html body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #deceff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}





@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}





nav {

    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

}

nav ul {
    float: right;
    margin-right: 20px;
    font-family: 'Times New Roman';

}

nav ul li {

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: 'Times New Roman';

}

nav ul li a {

    color: #624972;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

nav a:hover {
    color: #fff;
    background-color: #614972;
    transition: 0.5s;
    text-transform: uppercase;
}

nav.active {
    color: #fff;
    background-color: #614972;
    transition: 0.5s;
    text-transform: uppercase;
}

.logo img {
    size: 100px;
    width: 220px;
    height: auto;
    padding-left: 40px;
    padding-top: 12px;

}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #765b7532;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.155);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}


.menu-button {
    display: none;
}

@media(max-width: 800px) {


    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .logo img {
        width: 150px;
        height: auto;
        padding-left: 20px;
        padding-top: 30px;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

.container {
    
        height: 470px;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(62, 9, 75, 0.35);
        position: relative;
        overflow: hidden;
        width: 90%;

    max-width: 900px;
    margin: 50px auto;
    margin-top: 10%;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right bottom, #6808531d, #e2d9e1 50%, #e2d9e1 50%, #6092c462);
}


.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin: 0px 0;
       
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.form-group label {
    width: 180px;
    margin-right: 10px;
    flex: 0 0 auto;
    text-align: right;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="password"],
.form-group textarea {

    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.form-group input[type="text#address"],
.form-group textarea#description {
    width: calc(50% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.form-group label[for="address"],
.form-group label[for="description"] {
    width: 180px;
    margin-right: 10px;
    margin-top: 10px;

}

label[for="family-name"],
label[for="phone"] {
    margin-top: 10px;

}


label[for="first-name"],
label[for="state"],
label[for="email"],
label[for="school-name"] {
    position: absolute;
    left: -215px;
    width: 310px;
    margin-top: 10px;
}

label[for="date-of-birth"] {
    position: relative;
    left: 119px;
    margin-top: 10px;

}

select {
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}

#month,
#day,
#year {
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100px;
    margin-left: 5px;
}

#day {
    margin-left: 114px;
}


input#first-name,
input#state,
input#email,
input#school-name {
    margin-left: 100px;

}

input#first-name,
input#full-name,
textarea#address,
input#password {
    width: 307px;
    height: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 307px;
    height: 20px;
    font-weight: bold;

}

.form-group {
    position: relative;
}

.form-group button {
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    background-color: #5b1d69;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #3a21a0;
}

.scrollable-select {
    overflow-y: auto;
}